@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 20%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;

    --primary: 30 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 198 100% 47%;
    --secondary-foreground: 0 0% 100%;

    --accent: 42 100% 50%;
    --accent-foreground: 0 0% 20%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 30 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
